#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Colemak {
            bindings = <&to 2>;
            key-positions = <11 23>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp N1      &kp N2  &kp N3  &kp N4        &kp N5  &kp N6                                            &kp N7         &kp N8  &kp N9        &kp N0   &kp MINUS  &kp EQUAL
&kp ESC     &kp Q   &kp W   &kp E         &kp R   &kp T                                             &kp Y          &kp U   &kp I         &kp O    &kp P      &kp APOS
&kp TAB     &kp A   &kp S   &kp D         &kp F   &kp G                                             &kp H          &kp J   &kp K         &kp L    &kp SEMI   &kp GRAVE
&kp LSHIFT  &kp Z   &kp X   &kp C         &kp V   &kp B      &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp N          &kp M   &kp COMMA     &kp DOT  &kp FSLH   &kp BACKSLASH
                            &kp LEFT_ALT  &trans  &kp LCTRL  &kp SPACE           &kp RET            &kp BACKSPACE  &mo 1   &kp LEFT_GUI
            >;
        };

        function {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &kp F1            &kp F2          &kp F3             &kp F4      &kp F5    &kp F6
&trans  &trans  &trans  &trans  &trans  &trans                    &kp F7            &kp F8          &kp F9             &kp F10     &kp F11   &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LEFT_BRACKET  &kp UP_ARROW    &kp RIGHT_BRACKET  &kp INS     &kp HOME  &kp PAGE_UP
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_ARROW    &kp DOWN_ARROW  &kp RIGHT_ARROW    &kp DELETE  &kp END   &kp PAGE_DOWN
                        &trans  &trans  &trans  &trans    &trans  &trans            &trans          &trans
            >;
        };

        colemak {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                          &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &trans
&trans     &kp Q   &kp W   &kp F   &kp P   &kp G                           &kp J   &kp L   &kp U      &kp Y    &kp SEMI  &trans
&kp TAB    &kp A   &kp R   &kp S   &kp T   &kp D                           &kp H   &kp N   &kp E      &kp I    &kp O     &trans
&kp LSHFT  &kp Z   &kp X   &kp C   &kp V   &kp B   &to 0        &trans     &kp K   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                           &trans  &trans  &trans  &kp SPACE    &kp ENTER  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
